[Desktop Entry]
Name=Kool Intelligence
Exec=/usr/bin/koolintelligence
Icon=kde
Type=Application
Terminal=false
Categories=System
X-KDE-DBUS-Restricted-Interfaces=org.kde.KWin.ScreenShot2
